@model PI_PorrtabilidadeWebOkPrrojetos.Models.OrdServico

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>OrdServico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeOperadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeOperadora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoPo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoPo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaseAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaseAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaModificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
