@model IEnumerable<PI_PorrtabilidadeWebOkPrrojetos.Models.OrdServico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeOperadora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoPo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaseAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaModificacao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeOperadora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoPo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaseAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaModificacao)
            </td>
            <td>
                <a asp-controller="ItnServRecs" asp-action="Create" asp-route-IdOrdServ="@item.Id">Criar Itens</a> |
                <a asp-controller="ItnServRecs" asp-action="IndexByServicos" asp-route-IdOrdServ="@item.Id">Ver Itens</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
