@model PI_PorrtabilidadeWebOkPrrojetos.Models.ItnServRec

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItnServRec</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrdRec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrdRec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrdServ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrdServ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaModificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
